<html ng-app="exampleApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="controller.js"></script>

</head>
<body ng-controller="topLevelCtrl">

   <button class="btn btn-info" type="button" ng-click="reverseText()">Reverse</button>

   <div class="well" ng-controller="firstChildCtrl">
        <h3>First Child Controller</h3>
        <div class="input-group">
        	<span class="input-group-btn">
                 <button class="btn btn-info" type="button" ng-click="reverseText()">Reverse</button>
                 <button class="btn btn-info" type="button" ng-click="changeCase()">Case</button>
        	</span>
        </div>
   </div>

   <div class="well" ng-controller="secondChildCtrl">
        <h3>Second Child Controller</h3>
        <div class="input-group">
          <span class="input-group-btn">
                 <button class="btn btn-info" type="button" ng-click="reverseText()">Reverse</button>
                 <button class="btn btn-info" type="button" ng-click="changeCase()">Case</button>
                 <button class="btn btn-info" type="button" ng-click="shiftFour()">Shift</button>
          </span>
        </div>
   </div>

</body>
</html>