<html ng-app="notesApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
    
<body ng-controller="MainCtrl as ctrl">
    <h1>Understanding forms</h1>
    
    <h2>{{ctrl.user.username}}</h2>
    <h2>{{ctrl.user.password}}</h2>

    <form ng-submit = "ctrl.submit()">
    	<input type="text" ng-model="ctrl.user.username">
    	<input type="password" ng-model="ctrl.user.password">
    	<input type="submit" value="Submit">
    </form>

    <script type="text/javascript">

    angular.module('notesApp',[])
    .controller('MainCtrl',[function(){
       var self = this;
       // self.username = "Unassigned Name";
       // self.password = "Unassigned Password";

       self.submit = function() {
           console.log('User Clicked',self.user);
           self.user.username = "Hello " + self.user.username;
           self.user.password = "Hey " + self.user.password;
       }
    }]);

    </script>
</body>

</html>